* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;

  width: 100%;
  height: 100vh;
}

.image-container {
  background: url("https://images.unsplash.com/photo-1530907487668-af02f65b4afe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex: 1;

  max-width: 100%;
  height: 100%;
}

.bg-black {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1.75;
  background-color: #191816;
  padding: 0 2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  max-width: 55rem;
  padding: 2rem 0;
  border-radius: 0.8rem;
  background-color: #0f0f0f;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.title-box {
  display: flex;
  align-items: center;

  padding-bottom: 1rem;
  gap: 0.8rem;
}

.form h1 {  
  font-size: 1.7rem;
  color: #d4ccb6;
}

.info-form {
  text-align: justify;
  padding-bottom: 1rem;
  color: #afb6c2;
  font-size: 1rem;
}

.form-input-box {
  border: none;
  width: 88%;
}

.input-box {
  color: #afb6c2;
  font-size: 1rem;
  padding: 0 1rem;
  background-color: #24221f;
  border-radius: 0.35rem;
  border: 0.125rem solid #afb6c2;
  outline: none;
  height: 2.75rem;
  width: 100%;
}

.input-box:focus {
  border: 0.175rem solid #ffc632;
  outline: none;
}

.input-box::placeholder {
  color: #afb6c2;
  font-size: .9rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #24221f inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input:valid {
  border: 0.175rem solid #ffc632;
}

label {
  font-size: 1rem;
  color: #afb6c2;
}

.name-box,
.email-box,
.birth-box,
.cpf-box,
.cep-box,
.city-box,
.state-box,
.rua-box {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding-bottom: .7rem;
}

.cep-box,
.city-box,
.rua-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.cep-input,
.state-input,
.city-input,
.bairro-input,
.rua-input,
.complemento-input {
  max-width: 48%;
}

.btn-cadastrar {
  background-color: #ffc632;
  color: #473404;
  font-weight: 600;
  font-size: 1rem;
  margin-top: .75rem;
  padding: 0.8rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

span {
  color: #ffc632;
  font-size: .9rem;
  margin-top: .15rem;
}

/* LAPTOP */

@media only screen and (max-width: 1280px) {
  .image-container {
    max-width: 25%;
  }
}

/* TABLET */

@media only screen and (max-width: 915px) {
  .image-container {
    display: none;
  }

  .bg-black {
    background: url("https://images.unsplash.com/photo-1530907487668-af02f65b4afe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .form h1 {  
    font-size: 1.5rem;
  }

  .info-form, label {
    font-size: .9rem;
  }
}

/* MOBILE */

@media only screen and (max-width: 595px) {
  .form {
    width: 100%;
    padding: 2rem 0;
  }

  .info-form {
    text-align: center;
  }

  .name-box,
  .email-box,
  .birth-box,
  .cpf-box,
  .cep-box,
  .city-box,
  .state-box,
  .rua-box {
    padding-bottom: .9rem;
  }

  .cep-box,
  .city-box,
  .rua-box {
    display: flex;
    flex-direction: column;
  }

  .cep-input,
  .state-input,
  .city-input,
  .bairro-input,
  .rua-input,
  .complemento-input {
    max-width: 100%;
  }
}
